* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  background-color: darkgray;
}

.bg {
  background-image: url("/images/landing-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  z-index: 99;
  font-size: 12px;
}

.top-nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

nav ul {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav {
  font-size: 1.6em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 20px 25px;
  background-color: #333;
  text-decoration: none;
  color: #F1F1F1;
  font-weight: bold;
  letter-spacing: 3px;
}

nav ul li:first-of-type a:hover {
  padding-left: 22px;
  border-left: #CED2CC solid 3px;
}

nav ul li:last-of-type a:hover {
  padding-right: 22px;
  border-right: #CED2CC solid 3px;
}

.nav:hover {
  background-color: transparent;
  color: #fa3935;
  border-bottom: #CED2CC solid 3px;
}

.hero-content {
  position: absolute;
  opacity: 0;
  color: white;
  top: 20%;
  left: 41%;
  font-size: 62px;
  -webkit-animation: slide-right 2s 1.2s;
          animation: slide-right 2s 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

h2 {
  display: block;
  text-align: center;
  color: #fa3935;
  text-decoration: underline;
  margin: 100px auto 10px auto;
}

.frame-container {
  position: relative;
  margin: 0 auto;
  top: 100%;
  width: 78%;
  z-index: 2;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tour-dates {
  height: 315px;
  width: 100%;
  margin-top: -124px;
  overflow-y: hidden;
}

.black {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.grey {
  color: gray;
  text-decoration: underline;
}

.footer-text {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

a.footer-text:hover {
  color: #ff5100;
}

.btn {
  border: none;
  background: #fa3935;
  width: 200px;
  height: 50px;
}

.btn a {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.4rem;
  color: white;
  height: inherit;
  width: inherit;
}

.btn:hover {
  cursor: pointer;
  background: firebrick;
}

.to-top {
  margin: 50px auto;
}

.tour-link {
  margin: 50px auto 200px auto;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#4f6cd6));
  background-image: linear-gradient(to right, transparent, #4f6cd6);
  z-index: 0;
  height: 100vh;
  width: 70%;
  top: 0;
  left: 30%;
  position: absolute;
}

.gradient2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#cc87fa), to(#fd9800));
  background-image: linear-gradient(to right, #cc87fa, #fd9800);
  opacity: .25;
  z-index: 0;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#active-img {
  margin: 0 auto;
  height: 56%;
  min-height: 300px;
  width: 56%;
  min-width: 450px;
}

.photo-credit {
  margin-top: 10px;
  color: #fa3935;
}

.git-link {
  background-color: inherit;
  fill: black;
  width: 32px;
  margin: 0 auto;
}

.git-link:hover {
  fill: #ff5100;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 50px;
}

.inner-foot {
  width: 400px;
  height: inherit;
}

.inner-foot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.inner-foot ul li {
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.inner-foot ul li div {
  width: auto;
}

.inner-foot ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.github-icon {
  height: 32px;
  width: 32px;
}

@-webkit-keyframes slide-right {
  from {
    opacity: 0;
    left: 36%;
  }
  to {
    opacity: 1;
    left: 41%;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    left: 36%;
  }
  to {
    opacity: 1;
    left: 41%;
  }
}

@-webkit-keyframes slide-left {
  from {
    opacity: 0;
    left: 62%;
  }
  to {
    opacity: 1;
    left: 55%;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    left: 62%;
  }
  to {
    opacity: 1;
    left: 55%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-discography {
  background-image: url("/images/discography-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-live {
  background-image: url("/images/live-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.subtitle {
  position: absolute;
  font-size: 1.75em;
  opacity: 0;
  top: 32%;
  left: 55%;
  color: #fa3935;
  -webkit-animation: slide-left 1.8s 1.7s;
          animation: slide-left 1.8s 1.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

table {
  display: inline-block;
  min-width: 245px;
  border: white solid 1px;
  margin: 20px 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

caption {
  width: 100%;
  color: #ce4100;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.3em;
}

tr {
  width: 100%;
}

td, th {
  text-align: left;
  padding: 3px;
}

th:nth-of-type(1), td:nth-of-type(1) {
  width: 10%;
}

th:nth-of-type(2), td:nth-of-type(2) {
  width: 90%;
}

th:nth-of-type(3), td:nth-of-type(3) {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

tr:nth-of-type(2n) {
  background-color: gray;
}

@media (max-width: 1200px) {
  .hero-content {
    font-size: 52px;
  }
  table {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
  nav {
    font-size: 10px;
  }
}

@media (max-width: 820px) {
  .table-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  table {
    width: 96%;
    margin: 2%;
  }
  .nav {
    padding: 20px 12px;
  }
  nav ul li:first-of-type a:hover {
    padding-left: 9px;
    border-left: #CED2CC solid 3px;
  }
  nav ul li:last-of-type a:hover {
    padding-right: 9px;
    border-right: #CED2CC solid 3px;
  }
}

@media (max-width: 750px) {
  .hero-content {
    font-size: 40px;
    text-align: right;
    margin-right: 70px;
  }
  .nav {
    padding: 20px 12px;
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */