
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background-color: darkgray;
}

.bg {
    background-image: url('/images/landing-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    margin: -30px auto;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav ul{
    width: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    //justify-content: center;
    list-style-type: none;
    position: sticky;
}

.nav {
    padding: 20px 25px;
    background-color: #333;
    text-decoration: none;
    color: #F1F1F1;
    font-weight: bold;
    letter-spacing: 3px;
}

nav ul li:first-of-type {
    a:hover {
        padding-left: 22px;
        border-left: #CED2CC solid 3px;
    }
}
nav ul li:last-of-type {
    a:hover {
        padding-right: 22px;
        border-right: #CED2CC solid 3px;
    }
}
.nav:hover {
    background-color: transparent;
    color: #fa3935;
    border-bottom: #CED2CC solid 3px;
}
.hero-content {
    position: absolute;
    opacity: 0;
    color: white;
    top: 20%;
    left: 41%;
    font-size: 62px;
    animation: slide-right 2s 1.2s;
    animation-fill-mode: forwards; // keeps text visible after slide-in.
}
h2 {
    display: block;
    text-align: center;
    color: #fa3935;
    text-decoration: underline;
    margin: 100px auto 10px auto;
}
.frame-container {
    position: relative;
    margin: 0 auto;
    top: 100%;
    width: 78%;
    z-index: 2;
    overflow: hidden;
}
.middle {
    display: flex;
    flex-direction: column;
}
.tour-dates {
    height: 315px;
    width: 100%;
    margin-top: -124px;
    margin-right: -40px;
    overflow: hidden;
}

.black {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.grey {
    color: gray;
    text-decoration: underline;
}

.footer-text {
    display: inline-block;
    justify-self: center;
    align-self: center;
}

a.footer-text:hover {
    color: #ff5100;
}

.btn {
    a {
        display: inline-block;
        padding-top: 10px;
        font-size: 1.4rem;
        color: white;
        height: inherit;
        width: inherit;
    }
    border: none;
    background: #fa3935;
    width: 200px;
    height: 50px;
}

.btn:hover {
    cursor: pointer;
    background: firebrick;
}

.to-top {
    margin: 50px 0;
}

.tour-link {
    margin: 50px auto 250px auto;
    //justify-self: center;
}

.gradient {
    background-image: linear-gradient(to right, transparent , #4f6cd6);
    z-index: 0;
    height: 100vh;
    width: 70%;
    top: 0;
    left: 30%;
    position: absolute;
}

div.container {
    display: flex;
    flex-direction: column;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#active-img {
    margin: 0 auto;
    height: 50%;
    min-height: 400px;
    width: 50%;
    min-width: 600px;
}

.photo-credit {
    margin-top: 10px;
    color: #fa3935;
}

.git-link {
    background-color: inherit;
    fill: black;
    width: 32px;
    margin: 0 auto;
}

.git-link:hover {
    fill: #ff5100;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 50px;
}

.inner-foot {
    width: 400px;
    height: inherit;
}

.inner-foot ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    li {
        width: 33%;
        justify-content: center;
        list-style-type: none;
        div {
            width: auto;
        }
        a {
            display: flex;
            justify-content: center;
           // height: inherit;
        }
    }
}

.github-icon {
    height: 32px;
    width: 32px;
    //background-color: #fa3935;
    //border-radius: 50%;
}

@keyframes slide-right {
    from {
        opacity: 0;
        left: 36%;
    }
    to {
        opacity: 1;
        left: 41%;
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        left: 62%;
    }
    to {
        opacity: 1;
        left: 55%;
    }
}

// DISCOGRAPHY STYLES

.bg-discography {
    background-image: url('/images/discography-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subtitle {
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 55%;
    color: #fa3935;
    animation: slide-left 1.8s 1.7s;
    animation-fill-mode: forwards;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    display: inline-block;
    min-width: 300px;
    border: white solid 1px;
    margin: 20px 8px;
    flex: auto;
}

caption {
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3em;
}

tr {
    width: 100%;
}

td, th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

th:nth-of-type(1), td:nth-of-type(1) {
    width: 10%;
}

th:nth-of-type(2), td:nth-of-type(2) {
    width: 90%;
}

th:nth-of-type(3), td:nth-of-type(3) {
    justify-self: end;
    text-align: right;
}

@media (max-width: 1200px) {
    .hero-content {
        font-size: 52px;
    }
}
@media (max-width: 810px) {

    .table-container {
        flex-direction: column;
        align-items: center;
    }
    table {
        width: 100%;
        margin: 20px 0;
    }

    nav {
        font-size: 10px;
        top: -5px;
    }

    .nav {
        padding: 15px;
    }

    nav ul li:first-of-type {
        a:hover {
            padding-left: 12px;
            border-left: #CED2CC solid 3px;
        }
    }
    nav ul li:last-of-type {
        a:hover {
            padding-right: 12px;
            border-right: #CED2CC solid 3px;
        }
    }

}
@media (max-width: 750px) {
    .hero-content {
        text-align: right;
        margin-right: 70px;
    }
}