
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background-color: darkgray;
}

.bg {
    background-image: url('/images/landing-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    margin: -30px auto;
    position: sticky;
    top: 0;
    z-index: 99;
}

.container ul{
    width: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: sticky;
}

.container ul li a {
    padding: 20px 25px;
    background-color: #333;
    text-decoration: none;
    color: #F1F1F1;
    font-weight: bold;
    letter-spacing: 3px;
}

.container ul li:first-of-type {
    a:hover {
        padding-left: 22px;
        border-left: #CED2CC solid 3px;
    }
}

.container ul li:last-of-type {
    a:hover {
        padding-right: 22px;
        border-right: #CED2CC solid 3px;
    }
}

.container ul li a:hover {
    background-color: transparent;
    color: #fa3935;
    border-bottom: #CED2CC solid 3px;
}

.hero-content {
    position: absolute;
    opacity: 0;
    color: white;
    top: 28%;
    left: 45%;
    font-size: 72px;
    animation: slide 2s 1.2s;
    animation-fill-mode: forwards; // keeps text visible after slide-in.
}

h2 {
    display: block;
    text-align: center;
    color: #fa3935;
    text-decoration: underline;
    margin: 100px auto 10px auto;
}

.frame-container {
    position: relative;
    //background: yellow;
    margin: 0 auto;
    top: 100%;
    //height: 500px;
    width: 78%;
    z-index: 2;
    overflow: hidden;
}

.middle {
    display: flex;
    flex-direction: column;
}

.tour-dates {
    //border: 1px solid red;
    height: 315px;
    width: 100%;
    margin-top: -124px;
    margin-right: -40px;
    //margin-bottom: -40px;
    overflow: hidden;
}

.btn {
    a {
        display: inline-block;
        padding-top: 10px;
        text-decoration: none;
        font-size: 1.4rem;
        color: white;
        height: inherit;
        width: inherit;
    }
    border: none;
    background: #fa3935;
    width: 200px;
    height: 50px;
}

.btn:hover {
    cursor: pointer;
    background: firebrick;
}

.btn:last-of-type {
    margin-bottom: 100px;
}

.tour-link {
    margin: 50px auto 250px auto;
    //justify-self: center;
}

.gradient {
    background-image: linear-gradient(to right, transparent , #4f6cd6);
    z-index: 0;
    height: 100vh;
    width: 70%;
    top: 0;
    left: 30%;
    position: absolute;
}

div.container {
    display: flex;
    flex-direction: column;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#active-img {
    margin: 0 auto;
    height: 50%;
    min-height: 400px;
    width: 50%;
    min-width: 600px;
}

.photo-credit {
    margin: 10px 0 120px 0;
    color: #fa3935;
}

.github-icon {
    height: 32px;
}

@keyframes slide {
    from {
        opacity: 0;
        left: 38%;
    }
    to {
        opacity: 1;
        left: 46%;
    }
}