
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background-color: darkgray;
}

.bg {
    background-image: url('/images/landing-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    z-index: 99;
    font-size: 12px;
}

.top-nav {
    width: max-content;
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
}

nav ul{
    //width: auto;
    padding: 20px 0;
    //margin: 0 auto;
    display: flex;
    //justify-content: center;
    list-style-type: none;
    //position: sticky;
}

.nav {
    font-size: 1.6em;
    flex: 0 0 100%;
    padding: 20px 25px;
    background-color: #333;
    text-decoration: none;
    color: #F1F1F1;
    font-weight: bold;
    letter-spacing: 3px;
}

nav ul li:first-of-type {
    a:hover {
        padding-left: 22px;
        border-left: #CED2CC solid 3px;
    }
}

nav ul li:last-of-type {
    a:hover {
        padding-right: 22px;
        border-right: #CED2CC solid 3px;
    }
}

.nav:hover {
    background-color: transparent;
    color: #fa3935;
    border-bottom: #CED2CC solid 3px;
}

.hero-content {
    position: absolute;
    opacity: 0;
    color: white;
    top: 20%;
    left: 41%;
    font-size: 62px;
    animation: slide-right 2s 1.2s;
    animation-fill-mode: forwards; // keeps text visible after slide-in.
}

h2 {
    display: block;
    text-align: center;
    color: #fa3935;
    text-decoration: underline;
    margin: 100px auto 10px auto;
}

.frame-container {
    position: relative;
    margin: 0 auto;
    top: 100%;
    width: 78%;
    z-index: 2;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.middle {
    display: flex;
    flex-direction: column;
}

.tour-dates {
    height: 315px;
    width: 100%;
    margin-top: -124px;
    overflow-y: hidden;
}

.black {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.grey {
    color: gray;
    text-decoration: underline;
}

.footer-text {
    display: inline-block;
    justify-self: center;
    align-self: center;
}

a.footer-text:hover {
    color: #ff5100;
}

.btn {
    a {
        display: inline-block;
        padding-top: 10px;
        font-size: 1.4rem;
        color: white;
        height: inherit;
        width: inherit;
    }
    border: none;
    background: #fa3935;
    width: 200px;
    height: 50px;
}

.btn:hover {
    cursor: pointer;
    background: firebrick;
}

.to-top {
    margin: 50px auto;
}

.tour-link {
    margin: 50px auto 200px auto;
    //justify-self: center;
}

.gradient {
    background-image: linear-gradient(to right, transparent , #4f6cd6);
    z-index: 0;
    height: 100vh;
    width: 70%;
    top: 0;
    left: 30%;
    position: absolute;
}

.gradient2 {
    background-image: linear-gradient(to right, #cc87fa , #fd9800);
    opacity: .25;
    z-index: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.gradient3 {
    background-image: linear-gradient(to right, transparent , #c71642);
    opacity: .25;
    z-index: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

div.container {
    display: flex;
    flex-direction: column;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#active-img {
    margin: 0 auto;
    height: 56%;
    min-height: 300px;
    width: 56%;
    min-width: 450px;
}

.photo-credit {
    margin-top: 10px;
    color: #fa3935;
}

.git-link {
    background-color: inherit;
    fill: black;
    width: 32px;
    margin: 0 auto;
}

.git-link:hover {
    fill: #ff5100;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 50px;
}

.inner-foot {
    width: 400px;
    height: inherit;
}

.inner-foot ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    li {
        width: 33%;
        justify-content: center;
        list-style-type: none;
        div {
            width: auto;
        }
        a {
            display: flex;
            justify-content: center;
           // height: inherit;
        }
    }
}

.github-icon {
    height: 32px;
    width: 32px;
    //background-color: #fa3935;
    //border-radius: 50%;
}

@keyframes slide-right {
    from {
        opacity: 0;
        left: 36%;
    }
    to {
        opacity: 1;
        left: 41%;
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        left: 62%;
    }
    to {
        opacity: 1;
        left: 55%;
    }
}

// DISCOGRAPHY STYLES

.flex {
    display: flex;
}

.bg-discography {
    background-image: url('/images/discography-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-live {
    background-image: url('/images/live-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-members {
    background-image: url('/images/band-bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subtitle {
    position: absolute;
    font-size: 1.75em;
    opacity: 0;
    top: 32%;
    left: 55%;
    color: #fa3935;
    animation: slide-left 1.8s 1.7s;
    animation-fill-mode: forwards;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    display: inline-block;
    min-width: 245px;
    border: white solid 1px;
    margin: 20px 8px;
    flex: 0 1 30%;
}

caption {
    width: 100%;
    color: #ce4100;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3em;
}

tr {
    width: 100%;
}

td, th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

th:nth-of-type(1), td:nth-of-type(1) {
    width: 10%;
}

th:nth-of-type(2), td:nth-of-type(2) {
    width: 90%;
}

th:nth-of-type(3), td:nth-of-type(3) {
    justify-self: end;
    text-align: right;
}

tr:nth-of-type(2n) {
    background-color: gray;
}

// NEED TO FIGURE OUT HOW TO STALL LOADING ALL THIS UNTIL THE REST OF THE PAGE HAS LOADED.
.video {
    display: block;
    margin: 80px auto;
}

.box-1 {
    position: relative;
    margin: 20px auto 20px 100px;
    display: flex;
    width: 75vw;
    height: 600px;
    border: 3px solid white;
    padding: 20px;

    p {
        padding: 0 10px;
    }
}

.box-2 {
    position: relative;
    margin: 20px 100px 20px auto;
    display: flex;
    width: 75vw;
    height: 600px;
    border: 3px solid white;
    padding: 20px;

    div {
        order: 1;
    }

    img {
        order: 0;
    }

    p {
        padding: 0 10px;
    }
}

p > span {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.box-image {
    display: block;
    width: 70%;
}

@media (max-width: 1200px) {
    .hero-content {
        font-size: 52px;
    }

    table {
        flex: 0 1 48%;
    }

    nav {
        font-size: 10px;
    }
}
@media (max-width: 820px) {

    .table-container {
        flex-direction: column;
        align-items: center;
    }
    table {
        width: 96%;
        margin: 2%;
    }

    .nav {
        padding: 20px 12px;
    }

    nav ul li:first-of-type {
        a:hover {
            padding-left: 9px;
            border-left: #CED2CC solid 3px;
        }
    }
    nav ul li:last-of-type {
        a:hover {
            padding-right: 9px;
            border-right: #CED2CC solid 3px;
        }
    }

}
@media (max-width: 750px) {
    .hero-content {
        font-size: 40px;
        text-align: right;
        margin-right: 70px;
    }

    .nav {
        padding: 20px 12px;
        font-size: 1em;
    }

}

// NEED 600px @media